name: sistema-salas-epn

version: "3.9"

services:
  db1:
    image: mysql:8.0
    container_name: mysql_db_maestro
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: salas
      MYSQL_USER: admin
      MYSQL_PASSWORD: abc123
    command:
      --server-id=1
      --log-bin=mysql-bin
      --binlog-do-db=salas
    volumes:
      - ./data/mysql/db1:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  db2:
    image: mysql:8.0
    container_name: mysql_db_esclavo_1
    ports:
      - "3309:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: salas
      MYSQL_USER: admin
      MYSQL_PASSWORD: abc123
    command:
      --server-id=2
      --relay-log=relay-bin
    volumes:
      - ./data/mysql/db2:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  db3:
    image: mysql:8.0
    container_name: mysql_db_esclavo_2
    ports:
      - "3310:3306"
    command:
      --server-id=3
      --relay-log=relay-bin
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: salas
      MYSQL_USER: admin
      MYSQL_PASSWORD: abc123
    volumes:
      - ./data/mysql/db3:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin_maestro:
    image: phpmyadmin:latest
    container_name: phpmyadmin_maestro_salas
    environment:
      PMA_HOST: db1
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db1
    networks:
      - app_network

  phpmyadmin_esclavo_1:
    image: phpmyadmin:latest
    container_name: phpmyadmin_esclavo_1_salas
    environment:
      PMA_HOST: db2
      PMA_PORT: 3306
    ports:
      - "8082:80"
    depends_on:
      - db1
    networks:
      - app_network

  phpmyadmin_esclavo_2:
    image: phpmyadmin:latest
    container_name: phpmyadmin_esclavo_2_salas
    environment:
      PMA_HOST: db3
      PMA_PORT: 3306
    ports:
      - "8083:80"
    depends_on:
      - db1
    networks:
      - app_network

  app1:
    build: ./app
    container_name: app_salas_1
    environment:
      DB_HOST: db1
      DB_PORT: 3306
      DB_NAME: salas
      DB_USER: admin
      DB_PASSWORD: abc123
    depends_on:
      db1:
        condition: service_healthy
    networks:
      - app_network
    ports:
      - "5000:5000"

  app2:
    build: ./app
    container_name: app_salas_2
    environment:
      DB_HOST: db1
      DB_PORT: 3306
      DB_NAME: salas
      DB_USER: admin
      DB_PASSWORD: abc123
    depends_on:
      db2:
        condition: service_healthy
    networks:
      - app_network
    ports:
      - "5001:5000"

  app3:
    build: ./app
    container_name: app_salas_3
    environment:
      DB_HOST: db1
      DB_PORT: 3306
      DB_NAME: salas
      DB_USER: admin
      DB_PASSWORD: abc123
    depends_on:
      db3:
        condition: service_healthy
    networks:
      - app_network
    ports:
      - "5002:5000"

  nginx:
    container_name: Nginx789
    build:
      context: /nginx
      dockerfile: Dockerfile
    ports:
      - 8084:80
    depends_on:
      - app1
      - app2
      - app3
    networks:
      - app_network


networks:
  app_network:
    driver: bridge