version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: salas
      MYSQL_USER: admin
      MYSQL_PASSWORD: abc123
    ports:
      - "3308:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    networks:
      - app_network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - app_network

  app:
    build: ./app
    container_name: app_salas
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: salas
      DB_USER: admin
      DB_PASSWORD: abc123
    depends_on:
      - db
    networks:
      - app_network
    ports:
      - "5000:5000"

networks:
  app_network:
    driver: bridge

